// var
$font-Montserrat: "Montserrat", sans-serif;
$font-Cormorant: "Cormorant Garamond", serif;;
// var

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-Montserrat;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1296px;
    margin: 0 auto;
}

// vars
.main {
    &_white {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #ffffff;
        padding: 16px 32px;
        border-radius: 6px;
        border: 1px solid #ffffff;
        text-transform: uppercase;
    }

    &_green {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #ffffff;
        padding: 16px 32px;
        border-radius: 6px;
        background: #22C96A;
        text-transform: uppercase;
    }
    
    &_title {
        text-align: center;
        font-family: $font-Cormorant;
        font-size: 58px;
        font-weight: 400;
        line-height: 69.6px;
        color: #141414;
    }
}


.section_in {
    padding: 128px 0;
}
// vars

// header
.header {
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    &_left {
        @include flex-center();
        gap: 80px;
    }

    &_buttons {
        @include flex-center();
        gap: 48px;

        button {
            @include flex-center();
            gap: 8px;

            span {
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }

    .nav_link {
        @include flex-center();
        gap: 48px;

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 20.8px;
            color: #ffffff;
        }
    }
}
// header

// home
.home {
    background-image: url('../images/home_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 876px;
    @include flex-full-center();
    text-align: center;

    .main_container {
        @include flex-center();
        flex-direction: column;
        gap: 40px;
    }

    h1 {
        max-width: 921px;
        margin: 0 auto;
        font-family: $font-Cormorant;
        font-size: 88px;
        font-weight: 400;
        line-height: 96.8px;
        color: #ffffff;
    }

    p {
        max-width: 544px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #FFFFFF;
    }

    .main_green {
        max-width: 190px;
    }
}
// home

// marquee
.marquee {
    background: #141414;
    .carousel-field {
        width: 100%;
        height: 74px;
        .reverse-marquee-carousel,
        .marquee-carousel {
            width: 100%;
            .swiper-wrapper {
                padding: 16px 0;
                -webkit-transition-timing-function: linear !important;
                transition-timing-function: linear !important; 
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .content {
                        width: 144px;
                        padding: 4px 16px;
                        border-right: 1px solid #26292B;
                    }
                }
            }
        }
    }

    .content {
        h6 {
            font-size: 11.25px;
            font-weight: 600;
            line-height: 15px;
            color: #ffffff;
            margin-bottom: 5px;
        }

        .content_bottom {
            @include flex-center();
            justify-content: space-between;

            span {
                font-size: 10.5px;
                font-weight: 600;
                line-height: 14.4px;
            }

            .green {
                color: #299764;
            }

            .red {
                color: #CD2B31;
            }
        }

        .grey {
            font-size: 11.06px;
            font-weight: 400;
            line-height: 14.4px;
            color: #707D89;
        }
    }
}
// marquee

// who_we_are
.who_we_are {
    p {
        margin: 32px auto 64px auto;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        max-width: 1076px;
    }
}
// who_we_are

// investments
.investments {
    background: #F9FAFB;

    .main_title {
        margin-bottom: 40px;
    }

    .investments_blocks {
        @include flex-start();
        gap: 110px;
    }

    .investments_block {
        width: calc(100% / 2);
    }

    &_left {
        @include flex-column();
        display: flex;
        gap: 16px;

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;  
            color: #141414;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;

        li {
            @include flex-center();
            gap: 16px;
            border-bottom: 1px solid #D2DAE1;
            padding-top: 24px;
            padding-bottom: 24px;

            &:first-child {
                padding-top: 0;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            color: #141414;
        }

        h6 {
            font-family: $font-Cormorant;
            font-size: 48px;
            font-weight: 400;
            line-height: 62.4px;
            color: #141414;
        }

        span {
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            color: #707D89;
            margin-top: 24px;
        }
    }
}
// investments

// comparison
.comparison {
    .main_title {
        margin-bottom: 64px;
    }

    .comparison_block {
        @include flex-center();
        flex-direction: column;
        gap: 24px;
        width: calc(100% / 4);

        .block {
            width: 100%;
            background: #22C96A;
            border-radius: 6px;
        }

        .w_5 {
            height: 50px;
        }

        .w_7 {
            height: 70px;
        }

        .w_8 {
            height: 80px;
        }

        .w_240 {
            height: 240px;
        }

        h6 {
            font-family: $font-Cormorant;
            font-size: 28px;
            font-weight: 400;
            line-height: 42px;
            color: #141414;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            color: #141414;
            height: 36px;
            align-content: center;
        }

        .end_text {
            height: 36px;
            align-content: center;
        }
    }

    .comparison_in {
        display: flex;
        align-items: end;
        gap: 64px;
    }
}
// comparison

// level
.level {
    .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .main_title {
        max-width: 820px;
        margin: 0 auto;
    }
}
// level

// footer
.footer {
    background: #141414;
    padding: 80px 0 40px 0;

    p {
        margin: 64px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #9BA1A6;
    }

    ul {
        border-top: 1px solid #ffffff;
        padding-top: 32px;
        @include flex-center();
        justify-content: space-between;
        gap: 12px;
opacity: 0.2;

        a, span {
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            color: #ffffff;
        }
    }
}
// footer


@import './responsive';