* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1296px;
  margin: 0 auto;
}

.main_white {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.main_green {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 6px;
  background: #22C96A;
  text-transform: uppercase;
}
.main_title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  color: #141414;
}

.section_in {
  padding: 128px 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 24px;
  left: 0;
}
.header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header_buttons {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header_buttons button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_buttons button span {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
.header .nav_link {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header .nav_link a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #ffffff;
}

.home {
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 876px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.home h1 {
  max-width: 921px;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: 400;
  line-height: 96.8px;
  color: #ffffff;
}
.home p {
  max-width: 544px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.home .main_green {
  max-width: 190px;
}

.marquee {
  background: #141414;
}
.marquee .carousel-field {
  width: 100%;
}
.marquee .carousel-field .reverse-marquee-carousel,
.marquee .carousel-field .marquee-carousel {
  width: 100%;
}
.marquee .carousel-field .reverse-marquee-carousel .swiper-wrapper,
.marquee .carousel-field .marquee-carousel .swiper-wrapper {
  padding: 16px 0;
  transition-timing-function: linear !important;
}
.marquee .carousel-field .reverse-marquee-carousel .swiper-wrapper .swiper-slide,
.marquee .carousel-field .marquee-carousel .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marquee .carousel-field .reverse-marquee-carousel .swiper-wrapper .swiper-slide .content,
.marquee .carousel-field .marquee-carousel .swiper-wrapper .swiper-slide .content {
  width: 144px;
  padding: 4px 16px;
  border-right: 1px solid #26292B;
}
.marquee .content h6 {
  font-size: 11.25px;
  font-weight: 600;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 5px;
}
.marquee .content .content_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marquee .content .content_bottom span {
  font-size: 10.5px;
  font-weight: 600;
  line-height: 14.4px;
}
.marquee .content .content_bottom .green {
  color: #299764;
}
.marquee .content .content_bottom .red {
  color: #CD2B31;
}
.marquee .content .grey {
  font-size: 11.06px;
  font-weight: 400;
  line-height: 14.4px;
  color: #707D89;
}

.who_we_are p {
  margin: 32px auto 64px auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-width: 1076px;
}

.investments {
  background: #F9FAFB;
}
.investments .main_title {
  margin-bottom: 40px;
}

@media only screen and (max-width: 993px) {
  .main_container {
    max-width: calc(100% - 60px);
  }
}
@media only screen and (max-width: 700px) {
  .main_container {
    max-width: calc(100% - 32px);
  }
}/*# sourceMappingURL=style.css.map */